<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Node</title>
</head>
<body>
    <h1>Learning Node</h1>
    <p>La data i hora actual del servidor és <strong><%= now %></strong></p>
</body>
</html>